.footer{
    font-size:small;
    background-color:black;
    color:white;
    text-align: center;
    
    

}

.container{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    
    
}
.linkedin{
    flex:1;
    text-align:right;
    margin:1% 0;
    
}
.linkedin a{
    color: white;
    text-Decoration: none;
}
.resume{
    flex:0.5;
    margin:1% 0;
   
}
.resume a{
    color: white;
    text-Decoration: none;
    cursor: pointer;
   
}

.github{
    flex:1;
    text-align:left;
    margin:1% 0;
}
.github a{
    color: white;
    text-Decoration: none;
}

.name{
    padding:0 0 0.5% 0%;
}

